<div class="container">
  <app-cockpit (bpCreated)="onBluePrintAdded($event)"
               (serverCreated)="onServerAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button (click)="onChangesFirst()"
              class="btn btn-primary">Change first elem
      </button>
      <button (click)="onDestroyFirst()" class="btn btn-danger">Destroy first Component</button>
      <app-server-element
        *ngFor="let serverElem of serverElements"
        [name]="serverElem.name"
        [srvElement]="serverElem">
        <p #contentParagraph>
          <strong *ngIf="serverElem.type === 'server'" style="color: red">{{ serverElem.content }}</strong>
          <em *ngIf="serverElem.type === 'blueprint'">{{ serverElem.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>

